.container {
  padding-top: 80px;
  display: flex;
  // align-self: center;


  .cafeCover{
    max-width: 50%;
    background-color: rgb(20, 20, 20);
    img {
      display: block;
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  .cafeContent {
    display: flex;
    flex-direction: column;

    width: 50%;
    background-color:rgb(20,20,20);
    padding: 24px 48px;
    gap: 24px;
    .cafeTitle {
      // outline: 1px solid orange;
      font-size: 54px;
      color: white;
    }
    .cafeLocation {
      // outline: 1px solid orange;
      font-size: 24px;
      color: white;
    }
    .cafeAddress, .cafePhone {
      // outline: 1px solid orange;
      p {
        margin: 0;
        font-size: 18px;
        color: white;
      }
    }
    .cafeDescription {
      // outline: 1px solid orange;
      font-size: 18px;
      color: white;
      p {
        font-size: 16px;
        padding-right: 20%;
      }
    }
    .btnGroup {
      display: flex;
      gap: 8px;
    }
  }
}
