.container {
  // outline: 1px solid orange;
  width: 300px;

  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0.7961918735236395px 2.3885756205709185px -0.625px rgba(0, 0, 0, 0.05), 0px 2.414506143104518px 7.2435184293135535px -1.25px rgba(0, 0, 0, 0.05), 0px 6.382653521484461px 19.147960564453385px -1.875px rgba(0, 0, 0, 0.05), 0px 20px 60px -2.5px rgba(0, 0, 0, 0.05);
  min-width: 100px;
  border-radius: 20px;
  position: relative;

  .icon {
    // outline: 1px solid red;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    z-index: 1;
    }

  .contentContainer {
    // outline: 1px solid orange;
    box-sizing: border-box;
    flex-shrink: 0;
    max-width: 320px;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 24px;
    position: relative;
    align-content: flex-start;
    flex-wrap: nowrap;

    h3 {
        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: break-word;
        overflow: visible;
        font-weight: 500;
        font-family: "Inter", sans-serif;
        color: #666666;
        letter-spacing: 0em;
        margin: 0px;
        font-size: 16px;
      }

    .reserveDate {
      margin: 8px 0;
      color: #087E8B;
      font-size: 28px;
    }

    .reserveTime {
      // outline: 1px solid red;
      padding: 0 8px;
      background-color: #087E8B;
      border-radius: 50px;
      margin: 8px 0;
      h3 {
        color: #ffffff;
        font-size: 20px;
      }
    }

    .reserveCafe {
      display: flex;
      flex-direction: column;
      width: 100%;
      
      h3 {
        margin: 0;
        font-size: 16px;
      }

      p {
        font-size: 18px;
        font-weight: 500;
        padding: 12px 0;
        margin: 0;
        
        min-width: 0;

        word-wrap: break-word;
        /* 允許單詞內換行 */
        overflow-wrap: break-word;
        /* 允許單詞內換行（適用於非英語文字） */
        white-space: normal;
        /* 允許文字換行 */
        
      }

    }

    .reserveInfo {
      // outline: 1px solid blue;
      margin: 16px 0;
      width: 100%;
      
      .reserveTable, .reserveTel, .reserveEmail, .reserveNote{
        // outline: 1px solid red;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;


        h4 {
            // outline: 1px solid saddlebrown;
            font-weight: 500;
            font-family: "Inter", sans-serif;
            color: #666666;
            font-size: 16px;
            margin: 2px 0;
          }
        
          p {
            // outline: 1px solid green;
            margin: 0;
            font-size: 14px;
            font-weight: 500;
            //讓破版文字換行(父層要同時設定width:100%)
            min-width: 0;
            word-wrap: break-word;
            /* 允許單詞內換行 */
            overflow-wrap: break-word;
            /* 允許單詞內換行（適用於非英語文字） */
            white-space: normal;
            /* 允許文字換行 */
          }
      }
      
    }

    //製作框線效果
    .reserveInfo {
      // outline: 1px solid orange;
      font-size: 18px;

      //border setting
      border: 2px solid #FD878C;
      /* 框線顏色 */
      padding: 20px 10px;
      position: relative;
      left: -10px;
    }

    .reserveInfo::before {
      background-color: #fff;
      color: #FD878C;
      content: "Reservation Info";
      /*標題*/
      font-weight: bold;
      left: 1em;
      padding: 0.25em;
      position: absolute;
      top: -1em;
    }
  }
}