.container {
  box-sizing: border-box;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 100px 40px 100px 40px;
  position: relative;
  flex-wrap: wrap;
  overflow: visible;
  gap: 24px;
}

.navigator {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}