.navbarContainer {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 24px 24px 24px;
  background-color: #111111;
  align-content: center;
  flex-wrap: nowrap;
  gap: 24;
  border-radius: 0px 0px 0px 0px;
  z-index: 1;

  .title {
    flex: 1 0 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: auto;
    height: 32px;
    position: relative;
    font-weight: 800;
    font-family: "Inter", "Inter Placeholder", sans-serif;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 2;
    text-align: center;

  }
  .navBtn {
    flex-shrink: 0;
    width: auto;
    height: auto;
    position: relative;
    font-weight: 500;
    font-style: normal;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 1.5;
    text-align: left;
    background: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin: 16px;
    
  }
  .btn {
    box-sizing: border-box;
    flex-shrink: 0;
    width: min-content;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    background-color: #ffffff;
    position: relative;
    flex-wrap: nowrap;
    border-radius: 8px;
    border: none;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    color: #222222;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
  }
}
