.carouselContainer {
  // outline: 5px solid orange;
  background-color: rgb(235, 235, 235);
}

.swiper {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.slide {
  // outline: 1px solid orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // max-width: 500px;
  margin: 90px 0;
  img{
    max-width: 500px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0.7961918735236395px 2.3885756205709185px -0.625px rgba(0, 0, 0, 0.05), 0px 2.414506143104518px 7.2435184293135535px -1.25px rgba(0, 0, 0, 0.05), 0px 6.382653521484461px 19.147960564453385px -1.875px rgba(0, 0, 0, 0.05), 0px 20px 60px -2.5px rgba(0, 0, 0, 0.05);
  }
  p {
    // outline: 1px solid orange;
  }
}