.container {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  height: min-content;
  /* 504px */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 100px 100px 100px 100px;
  background-color: #000000;
  overflow: hidden;
  position: relative;
  align-content: center;
  flex-wrap: nowrap;
  gap: 0;
  border-radius: 0px 0px 0px 0px;

  .textWrapper {
      flex-shrink: 0;
      width: 100%;
      height: min-content;
      /* 304px */
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      max-width: 1000px;
      overflow: hidden;
      z-index: 1;
      position: relative;
      padding: 0px 0px 0px 0px;
      align-content: flex-start;
      flex-wrap: nowrap;
      gap: 40;
      border-radius: 0px 0px 0px 0px;
      

      .title {
          flex-shrink: 0;
          width: 100%;
          height: auto;
          /* 24px */
          white-space: pre-wrap;
          word-wrap: break-word;
          word-break: break-word;
          overflow: visible;
          position: relative;
          font-weight: 400;
          font-style: normal;
          font-family: "Libre Baskerville", "Libre Baskerville Placeholder", serif;
          color: #ffffff;
          font-size: 32px;
          letter-spacing: 0em;
          line-height: 1.5;
          text-align: left;
        }
      
      .info {
        flex-shrink: 0;
        width: 100%;
        height: auto;
        /* 240px */
        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: break-word;
        max-width: 600px;
        overflow: visible;
        position: relative;
        font-weight: 400;
        font-style: normal;
        font-family: "Goblin One", sans-serif;
        color: #ffffff;
        font-size: 54px;
        letter-spacing: 0em;
        line-height: 1.2;
        text-align: left;
      }
    }
  
}