.container {
  height: 100vh;
  background-color: #EBEBEB;

  .settingContainer {
    display: flex;
    flex: 1;
  }

  .settingInfoWrapper {
    // outline: 1px solid orange;
    display: flex;
    flex: 1;
    justify-content: center;
    width: 40%;
    height: 100vh;
    background-color: #141414;

    .textGroup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    
        .textTitle {
          margin-top: 20%;
          font-size: 48px;
          font-weight: 700;
          color: white;
          font-family: "Goblin One", sans-serif;
        }
    
        .textContent {
          font-size: 28px;
          font-style: italic;
          color: white;
          font-family: "Libre Baskerville", "Libre Baskerville Placeholder", serif;
          // word-wrap: break-word;
          // overflow-wrap: break-word;
          white-space: pre-line;
        }
      }
  }

  .settingInputWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 60%;
    background-color: #0A7E8B;

    .formGroup {
      // outline: 1px solid red;
      position: relative;
      top: 48px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 24px;
      
      .title {
        // outline: 1px solid orange;
        display: flex;
        justify-content: center;
        margin: 0 0 12px;
        font-size: 28px;
        color: white;
        font-family: "Libre Baskerville", "Libre Baskerville Placeholder", serif;
        // word-wrap: break-word;
        // overflow-wrap: break-word;
        white-space: pre-line;
      }

      .submitBtn {
        height: 50px;
        width: 50%;
        margin: 24px auto 0;
        color: #ffffff;
        background-color: #333333;
        border-radius: 8px;
        border: none;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }

  .reservationContainer {
    // outline: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;

    .cardWrapperTitle {
        margin-top: 2rem;
        font-family: "Goblin One", sans-serif;
        color: #0A7E8B;
        font-size: 36px;
      }

    .cardWrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr); 
      gap: 30px;
      justify-content: center;

      @media (max-width: 1300px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: 970px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 630px) {
        grid-template-columns: 1fr;
      }
    }
  }
}